<div class="container-fluid">
	<div class="row">

		<div class="col-md-6 col-md-offset-6">

			<div class="pull-right">
				<% if user_signed_in? %>
					Logged in as <strong><%= current_user.email %></strong>
					<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'  %> |
					<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
				<% else %>
					<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
					<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
				<% end %>
			</div>

		</div>

	</div>
	
	<!-- Left -->

	<div class="row margin-l">
		<div class="col-md-6">
			
			<input></input>
			
			<h1>All Tasks</h1>
			<table>
				
				<thead>
					<tr>
						<th>Name</th>
						<th>Priority</th>
						<th>Deadline</th>
						<th>Comment</th>
						<th>Category</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				
				<tbody class="tasksTable">
					<% @tasks.each do |task| %>
					<tr>
						
						<td><%= task.name %></td>
						<td><%= task.priority %></td>
						<td><%= task.deadline %></td>
						<td><%= task.comment %></td>
						
						<td><%= @categories.find(task.category_id).name %></td>
						
						<td>
							<a rel="popover" href="#" tabindex="0" class="btn btn-default" data-original-title="popover" data-trigger="focus" data-placement="right">Edit</a>
							<div class="head hide"></div>
							<div class="content hide">
								<%= form_for task do |f| %>
									<%= render partial: 'tasks/taskform', :locals => { f: f } %>
								<% end %>
							</div>
						</td>
						
						<td><%= button_to 'X', task_path(task), method: :delete %></td>
						
					</tr>
					<% end %>
				</tbody>
				
			</table>
			
			<h1>All Categories</h1>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Color</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @categories.each do |category| %>
					<tr>
						<td><%= category.name %></td>
						<td><%= category.color %></td>
						<td>
							<a rel="popover" href="#" tabindex="0" class="btn btn-default" data-original-title="popover" data-trigger="focus" data-placement="right">Edit</a>
							
							<div class="head hide"></div>
							<div class="content hide">
								<%= form_for category do |f| %>
									<%= render partial: 'categories/catform', :locals => { f: f } %>
								<% end %>
							</div>
						</td>
						
						<td><%= button_to 'X', category_path(category), method: :delete %></td>
							
					</tr>
					<% end %>
				</tbody>
			</table>
						
		</div>
		
		<!-- Middle -->
		
		

		<div class="col-md-5">
			
			<div id="graph"></div>
			
			<!-- ><div id="graph2"></div> -->

		</div>
		
		
		<!-- Right Sidebar -->
		

		<div class="col-md-1 pull-right">
			
			<div class="margin-r">
				
				<a rel="popover" href="#" tabindex="0" class="btn btn-default" data-toggle="popover" data-original-title="popover" data-trigger="focus" data-placement="left">Create Task</a>
				
				<div class="head hide"></div>
				<div class="content hide">
					<%= form_for :task, url: { action: "create", controller: "tasks" } do |f| %>
						<%= render partial: 'tasks/taskform', :locals => { f: f } %>
					<% end %>
				</div>
				
			</div>
				
			<div class="margin-r">
				
				<a rel="popover" href="#" tabindex="0" class="btn btn-default" data-toggle="popover" data-original-title="popover" data-trigger="focus" data-placement="left">Create Category</a>
				
				<div class="head hide"></div>
				<div class="content hide">
					
					<%= form_for :category, url: { action: "create", controller: "categories" } do |f| %>
						<%= render partial: 'categories/catform', :locals => { f: f } %>
					<% end %>
					
				</div>
				
				<!-- 
				
				<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm2">Add Category</button>

				<div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">

							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
								</button>
								<h4 class="modal-title">New Category</h4>
							</div>
							
							<%= form_for :category, url: categories_path do |f| %>
							
								<div class="modal-body">
									
									<p><%= f.label :name %><br><%= f.text_field :name %></p>
									
								</div>
	
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<%= button_tag(type: 'submit', class: "btn btn-primary") do %>Save<% end %>
								</div>
							
							<% end %>

						</div>
					</div>-->
				</div>
				
				

				<div class="margin-l">
					<button type="button" class="btn btn-default">Filter</button>
				</div>

				<div class="margin-l">
					<button type="button" class="btn btn-default">Category</button>
				</div>

				<div class="margin-l">
					<button type="button" class="btn btn-default">Later View</button>
				</div>

			</div>

		</div>
		
	</div>
</div>

<!------------ Javascript ------------>

<%= javascript_include_tag "application" %>
