
<!------------------------------- CONTAINER ------------------------------->
<div class="container-fluid">
	
	<!------------------------------- LOGIN HEADER ROW ------------------------------->
	
	<div class="row">
		
		<div class="col-md-6 display-inline-block-all">
			<h1>Cortex</h1>
			<p class="light grey h-margin-s x2">expand your memory</p>
		</div>
		
		<div class="col-md-6">
			<div class="pull-right">
				<% if user_signed_in? %>
					Logged in as <strong><%= current_user.email %></strong>
					<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'  %> |
					<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
				<% else %>
					<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
					<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
				<% end %>
			</div>
		</div>
		
	</div>

	<!------------------------------- BODY ROW ------------------------------->
	
	<div class="row v-margin-s">
		
		<!------------------------------- Left Third ------------------------------->
		
		<div class="col-md-4">
			
			<div class="display-table width-full">
				<%= form_for :input, url: { action: "parseInput", controller: "dashboard" } do |f| %>
				
					<div class="width-90" data-toggle="tooltip" data-original-title="task name &nbsp; #category &nbsp; $priority &nbsp; :deadline &nbsp; +comments">
						<%= f.text_field :hash, autocomplete: :off, placeholder: 'Quick Add Task', class: 'form-control pull-left' %>
					</div>
					
					<%= button_tag(type: 'submit', class: 'btn btn-default remove-border remove-padding-r remove-padding-l pull-right') do %>
						<i class="fa fa-chevron-right x3 grey"></i>
					<% end %>
					
				<% end %>
			</div>
			<!-- <div class="pull-left">
				<a rel="t" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top">
					<i class="fa fa-question-circle fa-2x"></i>
				</a>
				<div class="content hide">
					<p>Test</p>
				</div>
			</div> -->
			<div class="clearfix"></div>
			
			<!-- Task Stats -->
			<div class="row v-margin-l center">
				<div class="col-md-3">
					<h4><%= @current_tasks.length %> Tasks</h4>
				</div>
				
				<div class="col-md-3">
					<h5><%= @current_tasks.where(priority: 1).length %> Important</h5>
				</div>
				
				<div class="col-md-3">
					<h5><%= @current_tasks.where(priority: 2).length %> Moderate</h5>
				</div>
				
				<div class="col-md-3">
					<h5><%= @current_tasks.where(priority: 3).length %> Casual</h5>
				</div>
			</div>
			
			<!-- Current Title / <hr> -->
			<div class="row">
				<div class="col-md-5"><h4>Current Tasks</h4></div>
				<div class="col-md-7 remove-padding-l"><hr /></div>
			</div>
			
			<!-- Current Tasks Table -->
			<div id="table-wrapper-l" style="margin-bottom: 10px;">
				<table class="data-table table-responsive remove-border">
	
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
	
					<tbody>
						<% @current_tasks.each do |task| %>
							<tr>
								<td><div class="circle center-margin" style="background-color: <%= @categories.find(task.category_id).color %>;"></div></td>
								<td><%= task.name %></td>
								<td class="center">
									
									<a class="pointer hidden-sm hidden-xs" rel="popover" data-original-title="Edit Task" tabindex="0" data-trigger="focus" data-placement="right">
										<i class="fa fa-pencil-square-o gray"></i>
									</a>
									
									<a class="pointer hidden-md hidden-lg" rel="popover" data-original-title="Edit Task" tabindex="0" data-trigger="focus" data-placement="left">
										<i class="fa fa-pencil-square-o gray"></i>
									</a>
									
									<div class="content hide">
										<%= form_for task do |f| %>
											<%= render partial: 'tasks/taskform', :locals => { f: f } %>
										<% end %>
									</div>
								</td>
								<td class="center">
									<%= link_to "<i class='fa fa-check green'></i>".html_safe, { controller: "tasks", action: "complete", id: task.id}, method: :post %>
								</td>
							</tr>
						<% end %>
					</tbody>
	
				</table>
			</div>
			
			<!-- Completed Title / <hr> -->
			<div class="row">
				<div class="col-md-5">
					<h4>Completed Tasks</h4>
				</div>
				<div class="col-md-7 remove-padding-l">
					<hr />
				</div>
			</div>
			
			<!-- Completed Tasks Table -->
			<div id="table-wrapper-s">
				<table class="data-table table-responsive remove-border">
	
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
	
					<tbody>
						<% @completed_tasks.each do |task| %>
							<tr>
								<td><div class="circle center-margin" style="background-color: <%= @categories.find(task.category_id).color %>;"></div></td>
								<td><%= task.name %></td>
								<td class="center">
									<%= link_to "<i class='fa fa-undo gray'></i>".html_safe, { controller: "tasks", action: "complete", id: task.id}, method: :post %>
								</td>
								<td class="center"><%= link_to "<i class='fa fa-times red'></i>".html_safe, task_path(task), method: :delete %></td>
							</tr>
						<% end %>
					</tbody>
	
				</table>
			</div>

		</div>
		
		<!------------------------------- Middle Third ------------------------------->
		
		<div class="col-md-7">
			<div id="graph" class="center"></div>
		</div>
		
		<!------------------------------- Right Third ------------------------------->
		
		<div class="col-md-1">
			<div class="control-group remove-margin">
			
				<!-- Add Task Button -->
				<div>
					
					<a rel="popover" tabindex="0" class="btn hidden-sm hidden-xs <%= if @categories.length === 0 then "disabled" end %>" data-original-title="Add Task" data-toggle="popover" data-trigger="focus" data-placement="left">
						<i class="fa fa-plus fa-2x"></i>
					</a>
					
					<a rel="popover" tabindex="0" class="btn hidden-md hidden-lg <%= if @categories.length === 0 then "disabled" end %>" data-original-title="Add Task" data-toggle="popover" data-trigger="focus" data-placement="top">
						<i class="fa fa-plus fa-2x"></i>
					</a>
					
					<div class="content hide">
						<%= form_for :task, url: { action: "create", controller: "tasks" } do |f| %>
							<%= render partial: 'tasks/taskform', :locals => { f: f } %>
						<% end %>
					</div>
				</div>
				
				<!-- Add Category Button -->
				<div>
					<a rel="popover" tabindex="0" class="btn hidden-sm hidden-xs <%= if @categories.length >= 6 then "disabled" end %>" data-original-title="Add Category" data-toggle="popover" data-trigger="focus" data-placement="left">
						<i class="fa fa-plus-square fa-2x"></i>
					</a>
					
					<a rel="popover" tabindex="0" class="btn hidden-md hidden-lg <%= if @categories.length >= 6 then "disabled" end %>" data-original-title="Add Category" data-toggle="popover" data-trigger="focus" data-placement="top">
						<i class="fa fa-plus-square fa-2x"></i>
					</a>
	
					<div class="content hide">
						<%= form_for :category, url: { action: "create", controller: "categories" } do |f| %>
							<%= render partial: 'categories/catform', :locals => { f: f } %>
						<% end %>
					</div>
				</div>
				
				<!-- Edit Category Button -->
				<div>
					<a rel="popover" tabindex="0" class="btn hidden-sm hidden-xs" data-original-title="Edit Categories" data-toggle="popover" data-trigger="focus" data-placement="left">
						<i class="fa fa-folder fa-2x"></i>
					</a>
					
					<a rel="popover" tabindex="0" class="btn hidden-md hidden-lg" data-original-title="Edit Categories" data-toggle="popover" data-trigger="focus" data-placement="top">
						<i class="fa fa-folder fa-2x"></i>
					</a>
	
					<div class="content hide">
						<table class="data-table" style="width: 200px;">
							<thead>
								<tr>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% @categories.each do |category| %>
								<tr>
									
									<td><div class="circle" style="background-color: <%= category.color %>;"></div></td>
									<td><%= category.name %></td>
									<td>
										<a rel="popover" tabindex="0" class="btn" data-original-title="popover" data-trigger="focus" data-placement="left">
											<i class="fa fa-pencil-square-o"></i>
										</a>
										
										<div class="content hide">
											<%= form_for category do |f| %>
												<%= render partial: 'categories/catform', :locals => { f: f } %>
											<% end %>
										</div>
									</td>
									
									<td class="center">
										<%= link_to "<i class='fa fa-times'></i>".html_safe, category_path(category), method: :delete %>
									</td>
			
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					
				</div>
				
				<!-- Overdue Tasks Button -->
				<div>
					<a class="btn disabled"> <i class="fa fa-filter fa-2x"></i> </a>
				</div>
	
				<!-- <div>
					<a class="btn"> <i class="fa fa-refresh fa-3x"></i> </a>
				</div> -->
			
			</div>
		</div>
		
	</div>
	
	
	<!------------------------------- TEST ROW ------------------------------->
	
	<!-- <div class="row v-margin-s">
		
		<div class="col-md-8">
			
			<h3>All Tasks</h3>
			
			<table class="data-table width-full">
				<thead>
					<tr>
						<th>Name</th>
						<th>Priority</th>
						<th>Deadline</th>
						<th>Comment</th>
						<th>Category</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @current_tasks.each do |task| %>
					<tr>

						<td><%= task.name %></td>
						<td><%= task.priority %></td>
						<td><%= task.deadline %></td>
						<td><%= task.comment %></td>

						<td><%= @categories.find(task.category_id).name %></td>

						<td>
							<a rel="popover" tabindex="0" class="btn" data-original-title="popover" data-trigger="focus" data-placement="top">
								<i class="fa fa-pencil-square-o"></i>
							</a>
							
							<div class="head hide"></div>
							<div class="content hide">
								<%= form_for task do |f| %>
								<%= render partial: 'tasks/taskform', :locals => { f: f } %>
								<% end %>
							</div>
						</td>

						<td class="center">
							<%= link_to "<i class='fa fa-times'></i>".html_safe, task_path(task), method: :delete %>
						</td>

					</tr>
					<% end %>
				</tbody>
			</table>
			
		</div>
		
		<div class="col-md-4">
			
			<h3>All Categories</h3>
			
			<table class="data-table width-full">
				<thead>
					<tr>
						<th>Name</th>
						<th>Color</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @categories.each do |category| %>
					<tr>
						<td><%= category.name %></td>
						<td><div class="circle" style="background-color: <%= category.color %>;"></div></td>
						<td>
							<a rel="popover" tabindex="0" class="btn" data-original-title="popover" data-trigger="focus" data-placement="top">
								<i class="fa fa-pencil-square-o"></i>
							</a>
							
							<div class="content hide">
								<%= form_for category do |f| %>
								<%= render partial: 'categories/catform', :locals => { f: f } %>
								<% end %>
							</div>
						</td>
						
						<td class="center">
							<%= link_to "<i class='fa fa-times'></i>".html_safe, category_path(category), method: :delete %>
						</td>

					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div> -->
	
</div>

<!------------ Javascript ------------>

<%= javascript_include_tag "application" %>

<script type="text/javascript">
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip({
	        placement : 'auto top',
	        delay : { show: 500, hide: 1000 },
	    });
	});
</script>

