

<p>
	<%= f.label :name %>
	<br>
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :priority %>
	<br>
	<%= f.text_area :priority %>
</p>

<p>
	<%= f.label :deadline %>
	<br>
	<%= f.date_field :deadline %>
</p>

<p>
	<%= f.label :comment %>
	<br>
	<%= f.text_area :comment %>
</p>

<p>
	<%= f.select :category_id, @category_options %>
</p>

<p><%= f.submit %></p>