
<p>
	<%= f.label :name %>
	<br>
	<%= f.text_field :name %>
</p>
	
<p>
	<%= f.label :color %>
	<br>
	<div><%= f.text_field :color, class: 'cp' %></div>
</p>

<p><%= f.submit %></p>

<script>
	$('.cp').colorpicker().on('changeColor', function(ev) {
	  	bodyStyle.backgroundColor = ev.color.toHex();
		});
</script>