
<p>
	<%= f.label :name %>
	<br>
	<%= f.text_field :name %>
</p>

<!-- <div class="input-append color colorpicker"data-color="rgb(255, 146, 180)" data-color-format="rgb"> -->
	
<p>
	<%= f.label :color %>
	<br>
	<div><%= f.text_field :color, class: 'cp'  %></div>
</p>

<p><%= f.submit %></p>

<script>
	$('.cp').colorpicker().on('changeColor', function(ev) {
	  	bodyStyle.backgroundColor = ev.color.toHex();
		});
</script>