
<p>
	<%= f.label :name %>
	<br>
	<%= f.text_field :name %>
</p>

<!-- <div class="input-append color colorpicker"data-color="rgb(255, 146, 180)" data-color-format="rgb"> -->
	
<div class="input-append color" data-color="rgb(255, 146, 180)" data-color-format="rgb">
	<%= f.label :color %>
	<br>
	<%= f.text_field :color %>
	<span class="add-on colorpicker">
		<i style="background-color: rgb(255, 146, 180)"></i>
	</span>
</div>

<p><%= f.submit %></p>